<% layout("/layouts/boilerplate") %>
<div class="row mt-3">
    <div class="col-8 offset-2">
        <body>
            <h3>Add New Listing</h3>
            <form action="/listings" method="POST">
                <div>
                    <label for="title" class="form-label">Title:</label>
                    <input type="text" name="listing[title]" placeholder="Enter title" class="form-control" required><br><br>
                </div>
                <div>
                    <label for="description" class="form-label">Description:</label><br>
                    <textarea name="listing[description]" placeholder="Enter description" class="form-control"></textarea><br><br>
                </div>
                <div>
                    <label for="image-filename" class="form-label" >Image-Filename:</label>
                    <input type="text" name="listing[image][filename]" placeholder="Enter image filename" class="form-control" required><br><br>
                </div>
                <div>
                    <label for="image" class="form-label ">Image-Link:</label>
                    <input type="text" name="listing[image][url]" placeholder="Enter image URL/Link" class="form-control" required><br><br>
                </div>
                <div>
                    <label for="price" class="form-label">Price:</label>
                    <input type="number" name="listing[price]" placeholder="Enter price" class="form-control"><br><br>
                </div>
                <div>
                    <label for="location" class="form-label">Location:</label>
                    <input type="text" name="listing[location]" placeholder="Enter location" class="form-control"><br><br>
                </div>
                <div>
                    <label for="country" class="form-label">Country:</label>
                    <input type="text" name="listing[country]" placeholder="Enter country" class="form-control"><br><br>
                </div>
                <div>
                    <label for=""></label>
                    <button type="submit" class="btn btn-dark add-btn col offset-4">Add</button>
                </div>
            </form>
        </body>
    </div>
</div>
