<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WanderLust</title>
</head>
<body>
    <h3>Add New Listing</h3>
    <form action="/listings" method="POST">
        <input type="text" name="listing[title]" placeholder="Enter title" required><br><br>
        <textarea name="listing[description]" placeholder="Enter description"></textarea><br><br>
        <input type="text" name="listing[image][filename]" placeholder="Enter image filename" required><br><br>
        <input type="text" name="listing[image][url]" placeholder="Enter image URL/Link" required><br><br>
        <input type="number" name="listing[price]" placeholder="Enter price"><br><br>
        <input type="text" name="listing[location]" placeholder="Enter location"><br><br>
        <input type="text" name="listing[country]" placeholder="Enter country"><br><br>
        <button type="submit">Add</button>
    </form>
</body>
</html>
