/* ------- Navbar -------- */
.navbar{
    height: 5rem;
    background-color: white;
}

.fa-compass{
    color: #fe424d;
    font-size: 2rem;
}

.nav-link{
    color: #222222;
}

/* -------- Footer ------- */
.f-info-links a{
    text-decoration: none;
    color: #222222;
}

.f-info-links a:hover{
    text-decoration: underline;
}

.f-info-links{
    width: 100%;
}

.f-info-socials{
    width: 100%;
    font-size: 1.5rem;
}

.f-info-socials i{
    margin-left: 1.5rem;
}

.f-info{
    text-align: center;
    height: 8rem;
    background-color: #ebebeb;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

/* ------- listing -------- */
body{
    display: flex;
    margin: 0;
    padding: 0;
    flex-direction: column;
}

.container {
    display: flex;
    flex-direction: column; /* Ensures that the cards stack vertically */
    align-items: flex-start;
}

.card {
    margin-bottom: 1rem; /* Adds space between cards */
    width: 18rem; /* Ensures a consistent width for all cards */
}

